<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:myname="http://www.cnblogs.com/schema/user"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.cnblogs.com/schema/user http://www.cnblogs.com/schema/user/user.xsd ">

    <myname:user id="testBean" name="xiaohua" email="aa@qq.com"/>
</beans>